{% extends "base.html" %}



{% block content %}



 
  
  <div class="header d-flex justify-content-between bg-light">
    <nav class="nav">
        <a class="nav-link text-dark" href="{% url 'allemployees' %}">ALL EMPLOYEES</a>
        <a class="nav-link text-dark" href="{% url 'salarydetails' %}">SALARY RECORD</a>
        <a class="nav-link text-dark" href="{% url 'addsalary' %}"> ADD SALARY </a>
        <a class="nav-link text-dark" href="{% url 'calendar' %}"> CALENDAR </a>
        <a class="nav-link text-dark" href="{% url 'applyleave' %}"> APPLY LEAVE </a>
        <a class="nav-link text-dark" href="{% url 'history' %}"> LEAVE HISTORY </a>

        <a class="nav-link text-dark" href="{% url 'logout' %}"> LOGOUT </a>
      </nav>
  </div>    
<style>
  .nav a:hover {
    color: white;
    font-size: 20px;
  }
  h4{
    margin-top: 15px;
    padding: 20px;
  }
  .lable{
    color: white;
  }

  
</style>
  

  <h4 class="text-center">ADD NEW EMPLOYEE</h4>
<div class="card p-3">
    <form action="/addemployee/" method = "POST">
        {% csrf_token %}
        <div class="mb-1  p-2 bg-primary">
          <label for="exampleInputEmail1" class="form-label">Employee Id</label>
          <input type="number" class="form-control"  placeholder="Enter the Employee Id" name = "employeeid">
        </div>
        <div class="mb-1  p-2 bg-primary">
          <label for="exampleInputPassword1" class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Enter the Name"  name = "employeename" >
        </div>
        <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter the Email"  name = "employeeemail">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" placeholder="Enter the DOB"  name = "dateofbirth">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Blood Group</label>
            <input type="Dropdown" class="form-control" placeholder="Enter the Blood Group"  name = "bloodgroup">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Gender</label>
            <input type="radio button" class="form-control" placeholder="Enter the Gender"  name = "gender">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Marital Status</label>
            <input type="Dropdown" class="form-control" placeholder="Enter the Status"  name = "maritalstatus">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Aadhar Number</label>
            <input type="type" class="form-control" placeholder="Enter the Aadhar"  name = "aadharnumber">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">PAN Number</label>
            <input type="text" class="form-control" placeholder="Enter the PAN"  name = "pannumber">
          </div>
          <div class="mb-1  p-2 bg-primary">
            <label for="exampleInputPassword1" class="form-label">Address</label>
            <input type="text" class="form-control" placeholder="Enter the Address"  name = "employeeaddress">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">City</label>
            <input type="text" class="form-control" placeholder="Enter the City"  name = "city">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">State</label>
            <input type="Dropdown" class="form-control" placeholder="Enter the State"  name = "state">
          </div>
          <div class="mb-1 p-2 bg-primary" >
            <label for="exampleInputPassword1" class="form-label">Pincode</label>
            <input type="number" class="form-control" placeholder="Enter the Pincode"  name = "pincode">
          </div>

          <div class="mb-1  p-2 bg-primary">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="number" class="form-control" placeholder="Enter the Mobile Number "  name = "employeemobilenumber">
          </div>
          <div class="container text-center mt-2">
            <button type="submit" class="btn btn-sm btn-outline-success">Add Employee</button>
          </div>
        
      </form>
</div>





 {% endblock content %}
